<div class="col-md-6">
        <table class="table table-striped">
        <thead>
        <tr>
          <th>EmpId</th>
          <th>FirstName</th>
          <th>LastName</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                 <td><button class="btn btn-success" (click)="update(employee)"> Update Employee</button></td> 
                <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td>
                </tr>
        </tbody>
          </table>
      
        </div>


