  <div class="background-wrap">
    <div class="background"></div>

    <form id="accesspanel" action="">
      <h1 id="litheader">Manager Portal</h1>
      <div class="inset">
        <p>
          <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">
        </p>
        <p>
          <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
        </p>
      </div>

      <button class="p-container" style="padding-left: 40px;padding-right: 40px;margin-left: 100px;padding-bottom: 10px;color: #000;" (click)=checkLogin() class="btn btn-success">Login</button>
    </form>

  </div>
  <p style="width: 250px;text-align: center;margin:auto;margin-top: 37%;">Dont have an account!</p>
  <p class="" style="width: 250px;text-align: center;margin:auto;margin-top: 1%;">
  <input type="submit" name="signup" id="go" value="Sign Up" (click)="signup()">
  </p>
