<div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>
  <p style="width: 250px;text-align: center;margin:auto;margin-top: 37%;">Dont have an account!</p>
  <p class="" style="width: 250px;text-align: center;margin:auto;margin-top: 1%;">
  <input type="submit" name="signup" id="go" value="Sign Up" (click)="signup()">
  </p>
