<div class="col-md-6">
    <h2 class="text-center">Update Employee</h2>
    <form [formGroup]="editForm">
    <div class="form-group">
        <label for="empId">Employee Id</label>
        <input [(ngModel)]="user.empId" placeholder="Employee Id" name="Employee Id" class="form-control" id="employeeid">
    </div>

      <div class="form-group">
        <label for="name">firstname:</label>
        <input type="name" [(ngModel)]="user.firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname">
      </div>

      <div class="form-group">
        <label for="name">lastname:</label>
        <input type="name" [(ngModel)]="user.lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname">
      </div>

      <div class="form-group">
        <label for="name">email:</label>
        <input type="name" [(ngModel)]="user.email" placeholder="email" name="email" class="form-control" id="email">
      </div>

      <div class="form-group">
        <label for="name">address:</label>
        <input type="name" [(ngModel)]="user.address" placeholder="address" name="address" class="form-control" id="address">
      </div>

      <div class="form-group">
        <label for="name">Date Of Birth:</label>
        <input [(ngModel)]="user.dob" name="dob" type="date" id="dob" required />
      </div>

      <div class="form-group">
        <label for="name">mobile:</label>
        <input type="name" [(ngModel)]="user.mobile" placeholder="mobile" name="mobile" class="form-control" id="mobile">
      </div>

      <div class="form-group">
        <label for="city">city:</label>
        <input [(ngModel)]="user.city" placeholder="city" name="city" class="form-control" id="city">
      </div>

      <div class="form-group">
        <label for="city">Role:</label>
        <select *ngIf="role" [value]="selectedRole" (change)="onChangeRole($event.target.value)" formControlName="role" id="role">
          <option [value]="0" disabled>Select Role</option>
          <option *ngFor="let r1 of role" [value]="r1.id">{{r1.name}}</option>
       </select>
      </div>

      <button class="btn btn-success" (click)="updateEmployee(user)">Update</button>
    </form>
    </div>